In [6]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1 = 'This is a test of the emergency text system,'
my_file = open('test.txt', 'w')
my_file.write(test1)
my_file.close()

In [7]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
read_file = open('test.txt', 'r')
test2 = read_file.readline()

print(test2) # just for reference

read_file.close()
if test1 == test2:
    print("Both test1 and test2 are same")

This is a test of the emergency text system,
Both test1 and test2 are same

In [8]:
#3. Create a CSV file called books.csv by using these lines: ,title,author,year,The Weirdstone of Brisingamen,Alan Garner,1960,Perdido Street Station,China Miéville,2000,Thud!,Terry Pratchett,2005,The Spellman Files,Lisa Lutz,2007,Small Gods,Terry Pratchett,1992

import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [74]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
#these fields: title (text), author (text), and year (integer).

import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('DROP TABLE IF EXISTS books')
c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [75]:
#5. Read books.csv and insert its data into the book table.
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

In [76]:
#6. Select and print the title column from the book table in alphabetical order.
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [69]:
#7. From the book table, select and print all columns in the order of publication.
c.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [77]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy
engine = sqlalchemy.create_engine("books.sql")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

ArgumentError: Could not parse SQLAlchemy URL from string 'books.sql'

In [2]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
#Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.7-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 3.8 MB/s eta 0:00:00
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
     -------------------------------------- 192.1/192.1 kB 5.9 MB/s eta 0:00:00
Installing collected packages: typing-extensions, greenlet, sqlalchemy
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.0.1
    Uninstalling typing_extensions-4.0.1:
      Successfully uninstalled typing_extensions-4.0.1
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.7 typing-extensions-4.5.0

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.

conn.hincrby('test','count', 3)

In [1]:
print('hi')

hi

In [ ]:
#